body{

font-family:Arial, sans-serif;
background:#f3f3f3;
text-align:center;

}


.container{

max-width:420px;
margin:auto;
padding:20px;

}


h1{

color:#333;

}


.box{

background:white;
padding:20px;
border-radius:15px;
box-shadow:0 2px 10px #ccc;

}


button{

background:#1976d2;
color:white;
border:none;
padding:15px 25px;
border-radius:10px;
font-size:18px;
margin:10px;

}


video{

width:100%;
margin-top:20px;
border-radius:15px;

}


#itemInfo{

background:white;
margin-top:20px;
padding:20px;
border-radius:15px;

}


.hidden{

display:none;

}


span{

font-weight:bold;

}